@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&family=Playfair:ital,opsz,wght@0,5..1200,600;1,5..1200,600&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Manrope", sans-serif;

}
header{
    width: 80%;
    height: 10vh;
    margin: 0 auto;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 50px;
    column-gap: 20%;
}
nav{
    display: flex;
}
nav ul{
    display: flex;
    align-items: center;
    column-gap: 30px;
    margin-right: 50px;
    border-right: 1px solid gray;
    padding: 10px 45px;
    font-family: "Playfair", serif;
    font-weight: 600;
}
nav ul li{
    list-style: none;
}

.nav-right{
    display: flex;
    align-items: center;
    column-gap: 10px;
}

.nav-right .right-text{
    font-size: 10px;
}
.nav-right .right-logo{
    background-color: #61C3A1;
    width: 40px;
    height: 40px;
    border-radius:50%;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.nav-right .right-logo:hover{
    background-color: #ff5722;
    cursor: pointer;
    width: 50px;
    height: 50px;
    /* animation: spin 2s linear infinite; */
    /* animation: heartbeat 1s infinite; */
    animation: heartbeat 1.8s infinite;
}
@keyframes heartbeat {
    0% {
      transform: scale(1);
      opacity: 1;
    }
    25% {
      transform: scale(1.1);
      opacity: 0.8;
    }
    50% {
      transform: scale(1);
      opacity: 1;
    }
    75% {
      transform: scale(1.1);
      opacity: 0.8;
    }
    100% {
      transform: scale(1);
      opacity: 1;
    }
}
/* @keyframes heartbeat {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.3);
    }
    100% {
      transform: scale(1);
    }
  } */
main{
    width: 100%;
    /* background-color: aquamarine; */
    height: 75vh;
    display: flex;
    justify-content: center; 
    flex-direction: column;
    align-items: center;
}
main .wrapper{
    width: 80%;
    height: 100%;
    margin: 0 auto;
    display: flex;
}
main .wrapper .main-text{
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: center; */
}
main .wrapper .main-text .content{
    width: 80%;
}
main .wrapper .main-text h1{
    font-size: 2.9em;
    margin-bottom: 24px;
}

main .wrapper .main-text .icon-work{
    display: flex;
    align-items: center;
    gap: 10px;
    line-height: 26px;
} 
/* main .wrapper .main-text .icon-work .logo-text{
    line-height: 2px;
} */

main .wrapper .right-image{
    width: 50%;
    height: 100%;
    background-image: url(img/Image.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
main .wrapper .right-image .Rating{
    position: absolute;
    bottom: -10%;
    right: -18%;


}
/* main .wrapper .right-image .Service{
    position: absolute;
    top: -4%;
    left: -20%;

} */
main .wrapper .right-image .right-time{
    padding: 41px;
    width: 229px;
    border: 12px;
    height: 90px;
    background-color: #979797;
    border-radius: 120px;
    margin: 20px 153px;
    position: relative;
    left: -34%;
}

main .wrapper .right-image .time-lapse{
    /* padding: 37px; */
    height: 74px;
    width: 209px;
    border-radius: 130px;
    background-color: #FFFFFF;
    margin: 20px 153px;
    position: relative;
    left: -125%;
    top: -1280.2%;
}
main .wrapper .right-image .quick-service{
    color: #1E1B1B;
}
main .wrapper .right-image .quick-service p{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    right: 30px;
    bottom: 26px;
    font-weight: 600;
}
main .wrapper .right-image .time-circle{
    background-color: #5CBA99;
    width: 50px;
    height: 50px;
    border-radius:50%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    position: relative;
    top: -260%;
    left: -10%;
}
main .wrapper .right-image .time-circle p{
    color: #FFF;
    /* display: inline-block; */
}
main .btn{
    background-color: #ff5722;
    color: #fff;
    border: none;
    padding: 16px 30px;
    margin-bottom: 27px;
    border-radius: 9px;
    transition: all ease-in-out 0.3s;
}
main .btn:hover{
    background-color:#aa3511;
    transform:scale(1.05);
    cursor: pointer;

}
main .wrapper .logo-text p{
    color: #999;
}
